*{
    padding: 0;
    margin: 0;
}
body
{
    background-size: cover;
}
#a1
{
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#h1
{
    text-align: center;
    color:darkblue;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif; 
    text-align: center;
    margin-top: 25px;
}  

a:hover
{
    background-color: teal;
    color: black;
    transition: 0.6s ease-in-out;  
}
header
{
    background-color:black;
    height: 5em;
}
img
{
    margin-left: 50px;
    margin-top: 2px;
}
.head-tag
{
    float: right;
    margin-top: 44px;
    margin-left: 55px;

}
.head-tag a
{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-decoration: none;
color: white;
padding: 8px;
margin-right: 8px;
}
.head-tag a:hover
{
    background-color: teal;
    color: black;
    transition: 0.5s ease-in-out;
}
.form-inline
{
   
    text-align: center; 
    padding: 100px 0;        
    /* background-color: hsl(106, 47%, 57%); */
    background-image: linear-gradient( rgba(255,0,0,0), rgb(219, 43, 43));
    margin-left: 550px;
    margin-right: 450px;
    margin-top: 120px;
    vertical-align: middle;
}
input[type=text],input[type=password]
{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button[type=submit]
{
   background-color:green;
    border: none;
   color:white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}
ul
{
    list-style-type: none; /* get rid of bullet points on side of list items */
}
.sidebar 
{

    margin-top: 100px;
    margin-left: 400px;
    width: 560px;
    background-color: #f7a2a2;
    position: fixed;
    height: 60%;
    overflow: auto;
    text-align: left;
    align-items: center;
    vertical-align: center;
    display: inline-block;
}
  
.ul
{
    min-width: 350px;
}
.li
{
    background-color: rgb(209, 157, 157);
    padding: 10px;
    font-size: 1.1rem;
    display: inline block;
    color: black;
}


  
/* .delete-button 
{
      float: right;
      margin-left: 500px;
      position:relative;
      padding: 1px 4px;
      font-size: 1.1rem;
      display: flex;         
} */
input[type=checkbox]:checked + label {
	text-decoration: line-through;
    
} 
/* input[type=checkbox]:checked + label.strikethrough {
    text-decoration:line-through;
 }
   */
